{% extends 'base.html.twig' %}

{% block title %}Créer une équipe{% endblock %}

{% block body %}


<h1 class="text-center">Créer une équipe</h1>

    <div class="container">
    {{ form(form) }}
    </div>

{% endblock %}
